*{margin: 0px;padding: 0px;}

/*welcome blog*/
#blogwelcome{background-color: #eee !important; padding-top: 5rem;}
#blogwelcome span{font-size: 22px;}
#blogwelcome #my_author{font-size:30px; padding-left: 55px;color:#007bff; }

/*Posts*/
#blog{padding-top: 3rem; background-color: #101112;}
#blog .card{border:1px solid blue;}
#blog h1{padding: 7px;}
#blog img{width: 50% !important;}
#blog h4{color:#fff; font-family: 'Josefin Sans', sans-serif;}